.food_menubar_main{
    min-height: 40px;
    color: #000;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.food_menubar_div{
    display: flex;
    align-items: center;
    max-width: 1248px;
    justify-content: space-between;
    height: 40px;
    margin: auto;
}
.food_menubar_element{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    height: 100%;
    font-family: var(--int-semi);
    font-size: 14px;
    color: #000;
}
.food_menu_logo{
    margin-left: 8px;
    width: 4.7px;
    height: 8px;
    transform: rotate(270deg);
    filter: invert(34%) sepia(2%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(85%);
}