.header-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px 5px;
}
.flipkart-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}
.flipkart-logo-div{
    padding-top: 1px;
}
.flipkart-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-down{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}
.shopping-cart{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}
.man-logo{
    padding-bottom: 1px;
}
.login{
    font-family: var(--int-regu);
    font-size: 16px;
    padding-bottom: 1px;
}
img.man-logo {
    
    padding-right: 4.5px;
}
.location-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    gap: 4px;
    font-family: var(--int-semi);
}
.location-div{
    display: flex;
    align-items: center;
    padding: 0px 16px 0px; 
     gap: 6px;
     
}      
.select-location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    color: rgb(42, 85, 229);;
    gap: 0;
    font-family: var(--int-semi);

}
.search_engine_head{
    padding: 16px 16px;
}
.search_engine{
    display: flex;
    align-items: center;
    border: 2px solid #EBEBEB;
     border-radius: 15px;
     height: 48px;
      padding-left: 12px;
      padding-right: 4px;
}
.search_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-3 .form-control{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    padding-left: 8px;
    color: rgba(0, 0, 0, .87843);
     font-family: var(--int-regu);
}