.health_filter_main{
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    display: flex;
    flex: 0 0 280px;
    flex-direction: column;
    /* width: 16.66%; */
}
.health_filter_div{
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
}
.health_filter_text{
    padding:16px 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}
.health_text_span{
    font-size: 18px;
    width: 67%;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-family: var(--int-semi);
}