.product_details_price{
    margin-top: 6px;
}
.product_details_price .product_name{
    color: #212121;
    font-size: 18px;
    line-height: 1.4;
}
.product_details_price .product_details_overall{
    margin-top: 6px;
    display: inline-block;
}
.product_details_price .product_overall_rating{
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
    font-family: var(--int-semi);
}
.product_details_price .white_star{
    margin: 2px 0 0 2px;
    height: 10px;
}
.product_details_price .product_customer_rating{
    padding-left: 8px;
}
.product_details_price .product_customer_number{
    font-weight: 500;
    color: #878787;
    font-size: 14px;
    font-family: var(--int-semi);
}
.product_details_price .product_fassured{
    margin-left: 12px;
    vertical-align: middle;
    font-size: 20px;
}
.product_details_price .product_assure_img{
    height: 21px;
}
.product_details_price .product_special_price{
    text-align: left;
    margin: 12px 0 0px;
}
.product_details_price .special_price_text{
    font-size: 14px;
    color: #388e3c;
    font-weight: 500;
    font-family: var(--int-semi);
}
.product_details_price .product_price{
    padding-top: 12px;
    display: flex;
}
.product_details_price .price{
    font-size: 28px;
    display: inline-block;
    color: #212121;
}
.product_details_price .overline{
    font-size: 16px;
    margin-left: 12px;
    color: #878787;
    text-decoration: line-through;
    display: inline-block;
}
.product_details_price .discount{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    letter-spacing: -.2px;
}
.product_details_price .product_price_info{
    margin: 12px 0 0 8px;
}
.product_details_price .price_info_img{
    height: 18px;
}
.product_details_price .product_quantity_info{
    color: #878787;
    font-weight: 500;
    margin: 8px 0 0 12px;
    font-family: var(--int-semi);
}
.product_details_price .product_discount{
    display: flex;
    align-items: baseline;
    font-family: var(--int-semi);
}
.product_details_price .product_alert_message{
    color:#ff6161 ;
    font-size: 14px;
    font-family: var(--int-regu);
}
.product_available_offers .product_available_offers{
    width: 100%;
}
.product_available_offers .product_offers_head{
    margin-top: 8px;
    font-size: 16px;
    color: #212121;
    font-family: var(--int-semi);
}
.product_available_offers .product_offer{
    margin-top: 12px;
    display: flex;
}
.product_available_offers .product_offer_img{
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.product_available_offers .product_offer_li{
    margin-top: -2px;
    width: 94%;
    display: inline-block;
}
.product_available_offers .product_offer_combo{
    color: #212121;
    padding-right: 4px;
    font-family: var(--int-semi);
    font-size: 14px;
}
.product_available_offers .product_offer_buy{
    color: #212121;
    font-family: var(--int-regu);
    font-size: 14px;
}   
.product_available_offers .product_offer_see{
    padding-left: 5px;
    color: #2874f0;
    font-family: var(--int-semi);
    font-size: 14px;
}
.product_available_offers .product_offer_tc{
    color: #2874f0;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-family: var(--int-semi);
}
.product_available_offers .product_offer_view{
    margin-top: 8px;
}
.product_available_offers .product_view_link{
    color: #2874f0;
    font-size: 14px;
    font-family: var(--int-semi);
    margin: 2px 0 0 2px;
}
.product_available_offers .product_delivery{
    margin-top: 24px;
    width: 100%;
}
.product_available_offers .product_delivery_pin{
    display: flex;
    align-items: center;
}
.product_available_offers .delivery_text{
    color: #878787;
    width: 110px;
    padding-right: 10px;
    font-size:14px;
    font-family: var(--int-semi);
}
.product_available_offers .delivery_pincode{
    width: 234px;
    display: flex;
    border-bottom: 2px solid #ff6161;
    padding: 0 0 4px;
    align-items: center;
}
.product_available_offers .delivery_form{
    display: inline-block;
    margin-left: 6px;
    line-height: 25px;
}
.product_available_offers .delivery_input_field{
    font-size: 14px;
    padding-left: 6px;
    font-family: var(--int-semi);
    border: none;
}
.product_available_offers .delivery_pin_check{
    font-size: 14px;
    color: #2874f0;
    font-family: var(--int-semi);
    position: relative;
}
.product_available_offers .delivery_enter_pin{
    position: absolute;
    padding: 8px;
    font-size: 12px;
    z-index: 1;
    display: inline;
    left: calc(100% + 16px);
    top: 50%;
    transform: translateY(-50%);
    background-color:#212121;
    box-shadow: 1px 0 2px 0 rgba(0,0,0,.2);
    text-align: center;
    white-space: nowrap;
    color: #fff;
}
.product_available_offers .delivery_enter_pin::before{
    content: "";
    position: absolute;
    border-width: 9px;
    transform: translateY(-9px);
    right: 100%;
    top: 50%;
    border-style: solid;
    border-color: transparent #212121 transparent transparent;
}
.product_available_offers .delivery_available_pin{
    margin: 8px 0 0 110px;
}
.product_available_offers .availablity_pin{
    color: #ff6161;
    font-size: 14px;
    font-family: var(--int-regu);
}
.product_available_offers .product_quality{
    width: 50%;
    display: flex;
    margin-top: 16px;
}
.product_available_offers .quality_head{
    font-size: 14px;
    margin-top: 2px;
    font-family: var(--int-semi);
    color: #878787;
    width: 110px;
    min-width: 110px;
    padding-right: 10px;
}
.product_available_offers .quality_ul{
    display: flex;
}
.product_available_offers .quality_li{
    display: inline-flex;
    margin: 0 12px 4px 0;
}
.product_available_offers .quality_text{
    border: 2px solid #e0e0e0;
    padding: 6px 10px;
    border-radius: 2px;
    min-width: 36px;
    font-size: 14px;
    background: #fff;
    font-family: var(--int-semi);
    color: #000;
    white-space: nowrap;
}
.product_available_offers .product_highlights{
    padding: 24px 0px 0px;
    display: flex;
    width: 50%;
}
.product_available_offers .highlights_head{
    font-size: 14px;
    font-family: var(--int-semi);
    color: #878787;
    width: 110px;
    padding-right: 10px;
}
.product_available_offers .hightlights_ul{
    list-style: none;
}
.product_available_offers .highlights_li{
    color: #212121;
    padding: 0 0 8px 16px;
    position: relative;
    font-family: var(--int-regu);
    font-size: 14px;
}
.product_available_offers .highlights_pouch{
    padding: 0 0 0 16px;
}
.product_available_offers .highlights_li::after{
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    background: #c2c2c2;
}
.product_available_offers .product_important{
    font-size: 14px;
    margin-top: 24px;
    display: flex;
    white-space: nowrap;
}
.product_available_offers .important_head{
    width: 110px;
    padding-right: 10px;
    color: #878787;
    font-family: var(--int-semi);
}
.product_available_offers .important_text{
    line-height: 1.5em;
    font-size: 14px;
    color: #212121;
    font-family: var(--int-regu);
}
.product_available_offers .product_seller{
    font-size: 14px;
    margin-top: 24px;
    display: flex;
}
.product_available_offers .seller_head{
    width: 110px;
    padding-right: 10px;
    color: #878787;
    font-size: 14px;
    font-family: var(--int-semi);
}
.product_available_offers .seller_superCom{
    color: #2874f0;
    font-size: 14px;
    font-family: var(--int-semi);
    display: inline;
}
.product_available_offers .superCom_text{
    font-size: 14px;
    font-family: var(--int-semi);
}
.product_available_offers .superCom_rating{
    margin-left: 8px;
    border-radius: 10px;
    background-color: #2874f0;
    font-size: 11px;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    font-family: var(--int-semi);
}
.product_available_offers .superCom_star{
    margin: 2px 0 0 2px;
    height: 10px;
}
.product_available_offers .seller_ul{
    margin: 12px 0 -4px;
    list-style: none;
}
.product_available_offers .seller_li{
    color: #212121;
    padding-bottom: 8px;
    position: relative;
}
.product_available_offers .seller_li::after{
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    background-color: #c2c2c2;
}
.product_available_offers .seller_li_div{
    margin-left: 17px;
    font-size: 14px;
    font-family: var(--int-regu);
}
.product_available_offers .seller_question{
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-family: var(--int-semi);
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    margin: 0 2px 0 8px;
}
.product_available_offers .seller_seeOther{
    margin-top: 8px;
    color: #2874f0;
    font-family: var(--int-semi);
    font-size: 14px;
}
.product_available_offers .product_description{
    font-size: 14px;
    margin-top: 24px;
}
.product_available_offers .description_head{
    width: 110px;
    padding-right: 10px;
    color: #878787;
    font-family: var(--int-semi);
    float: left;
}
.product_available_offers .description_details{
    margin-left: 110px;
    color: #212121;
    margin-bottom: 8px;
    line-height: 1.5em;
    font-family: var(--int-regu);
}
.product_available_offers .product_specification{
    margin-top: 24px;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid #f0f0f0;
}
.product_available_offers .specifications_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px 24px 24px;
    font-size: 24px;
    font-family: var(--int-semi);
    line-height: 1.14;
    color: #212121;
}
.product_available_offers .spedification_active{
    overflow: auto;
    max-height: none;
}
.product_available_offers .specification_box{
    max-height: 350px;
    overflow: hidden;
    position: relative; 
}
.product_available_offers .specification_box::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    height: 80px;
    background: linear-gradient(hsla(0,0%,100%,0) 5%,#fff);
    bottom: 0;
}
.product_available_offers .product_inthebox{
    border-top: 1px solid #f0f0f0;
    padding: 24px 24px 34px;
    font-size: 14px;
}
.product_available_offers .inthebox_head{
    padding-bottom: 16px;
    font-size: 18px;
    white-space: nowrap;
    line-height: 1.4;
    font-family: var(--int-regu);
}
.product_available_offers .inthebox_pack{
    color: #878787;
    padding-right: 8px;
    width: 25%;
    font-family: var(--int-regu);
}
.product_available_offers .inthebox_quan{
    line-height: 1.4;
    color: #212121;
    width: 75%;
    font-family: var(--int-regu);
}
.product_available_offers .product_general{
    border-top: 1px solid #f0f0f0;
    padding: 24px 24px 34px;
    font-size: 14px;
}
.product_available_offers .general_head{
    padding-bottom: 16px;
    font-size: 18px;
    white-space: nowrap;
    line-height: 1.4;
    font-family: var(--int-regu);
}
.product_available_offers .general_table{
    width: 100%;
}
.product_available_offers .general_table_row{
    padding-bottom: 16px;
    display: flex;
}
.product_available_offers .general_brand{
    color: #878787;
    padding-right: 8px;
    width: 25%;
    font-family: var(--int-regu);
}
.product_available_offers .general_happilo{
    color: #212121;
    line-height: 1.4;
    width: 75%;
    font-family: var(--int-regu);
}
.product_available_offers .product_readmore{
    padding: 24px;
    width: 100%;
    text-align: left;
    margin-top: -1px;
    font-size: 16px;
    color: #2874f0;
}
.product_available_offers .display_none{
    display: none;
}