.product_details_price{
    margin-top: 6px;
}
.product_name{
    color: #212121;
    font-size: 18px;
    line-height: 1.4;
}
.product_details_overall{
    margin-top: 6px;
    display: inline-block;
}
.product_overall_rating{
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
    font-family: var(--int-semi);
}
.white_star{
    margin: 2px 0 0 2px;
    height: 10px;
}
.product_customer_rating{
    padding-left: 8px;
}
.product_customer_number{
    font-weight: 500;
    color: #878787;
    font-size: 14px;
    font-family: var(--int-semi);
}
.product_fassured{
    margin-left: 12px;
    vertical-align: middle;
    font-size: 20px;
}
.product_assure_img{
    height: 21px;
}
.product_special_price{
    text-align: left;
    margin: 12px 0 0px;
}
.special_price_text{
    font-size: 14px;
    color: #388e3c;
    font-weight: 500;
    font-family: var(--int-semi);
}
.product_price{
    padding-top: 12px;
    display: flex;
}
.price{
    font-size: 28px;
    display: inline-block;
    color: #212121;
}
.overline{
    font-size: 16px;
    margin-left: 12px;
    color: #878787;
    text-decoration: line-through;
    display: inline-block;
}
.discount{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    letter-spacing: -.2px;
}
.product_price_info{
    margin: 12px 0 0 8px;
}
.price_info_img{
    height: 18px;
}
.product_quantity_info{
    color: #878787;
    font-weight: 500;
    margin: 8px 0 0 12px;
    font-family: var(--int-semi);
}
.product_discount{
    display: flex;
    align-items: baseline;
    font-family: var(--int-semi);
}
