.carousel-sbhead{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
     position: relative;
        
}
.carousel{
     /* position: relative; */
    display: flex;
    align-items: center;
    width: 100%;
    
    height: auto;
    justify-content: center;
    /* padding-top:14px ;  */
    margin: 0 15px;
    overflow-x: hidden; 
   
    
    
}
.carousel-head{
    background-color: #ffffff;
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel-subcontainer{
    display: flex;
    justify-content: center;
}
.carousel-track{
    display: flex;
    transition: 0.3s ease-in-out;
    padding-top: 8px;
     
} 
.slide{

    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    flex-shrink: 0;
    
   
     /* padding: 0 2%; */
     
          
}       
.indicators{
   display: flex;
   /* position: absolute; */
   /* padding-top: 8px;  */
   padding-bottom: 12px;
   justify-content: center;
}
.indicator{
    background-color: black;
    height: 4px;
    width: 48px;
    border-radius:2px; 
    border: none;
    outline: none;
    margin: 0 4px;
    cursor:pointer ;
   
   
    
}


.indicator_notactive{
    background-color: #e1dcdc;
    width: 12px;
} 
@media screen and (min-width:1192px) {
    .carousel-container{
        margin: 0 16px;
    }
    .carousel-subcontainer{
        margin-top: 8px;
    }
}