@media screen and (min-width:768px){
    .body-container{
        margin: 0 16px;
        display: flex;
        justify-content: center;
    }
    .body-width{
        width: 100%; 
        max-width: 996px;
        margin-top: 8px;
    }
}

@media screen and (min-width:1024px){
    .body-width{
        max-width: 1600px;
    }
}