.drawer-overlay{
    top: 0;
    left: 0;
    list-style-type: none;
    position: absolute;
    background:rgba(0,0, 0, 0.6);
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    
}
.drawer{
    width: 75%;
    background-color:#fff;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 3px 0 8px 1px rgba(0, 0, 0, .4);

}
.drawer.open{
    transform:translateX(0) ;
}