:root{
--int-semi:inter_semibold;
--int-regu:inter_regular;
--int-bold:inter_bold;
--int-roboto:inter_roboto;
--int-roboto-med:inter_roboto_medium;
}


@font-face {
    font-family: inter_semibold;
    src: url('./font/Inter-SemiBold.woff2');
}
@font-face {
    font-family: inter_regular;
    src: url('./font/Inter-Regular.woff2');
}
@font-face {
    font-family: inter_bold;
    src: url('./font/Inter-Bold.woff2');
}
@font-face {
    font-family: inter_roboto;
    src: url('./font/roboto-regular.woff2');
}
@font-face {
    font-family: inter_roboto_medium;
    src: url('./font/roboto-medium.woff2');
}